.footer{
    .gym-info{
    background-color: $gray-200;
    border-radius: 15px;
    display: flex;
    flex: 2;

    article{
    flex: 1;
    text-align: center;
    margin: 0 1rem;

    h5{
    font-weight:400;
    font-size:1rem;
    color:$gray-900;
    line-height: 2;
    }

    p{
    color: $gray-500;
    font-size: $fs-14px;
    line-height: 1.8;
    }
    
    }
    }

    .extra-info{
    flex: 1;
    
    h4{
    font-size:$fs-25px;
    color: $gray-900;
    font-weight: 600;
    }

    p{
    font-size: 1rem;
    color:$gray-500;
    line-height: 1.8;
    }
    }

    
}
