@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

//Font sizes
$fs-14px:.875rem;
$fs-16px:1rem;
$fs-32px:1.875rem;
$fs-25px:1.5625rem;
$fs-12px:.75rem;
$fs-20px:1.25rem;

//Colors
$gray-200:#F9F9F9;
$gray-300:#EDEEF0;
$gray-400:#BCBCBC;
$gray-500:#7A7A7A;
$gray-900:#2E363F;
$orange-400:#FF6B01;
$red-400:#FF4F51;

//Transitions
$transition-500ms:all 500ms linear 500ms;