@media screen and (max-width:1000px) {
    .navbar{
        .center-listItems,
        .right-listItems{
        display: none;
        }

        .hamburger{
        display:block;
        }
    }

    .hero-section{
     .flex{
     flex-direction: column-reverse;
     }

     .left-section{
    .heading{
    text-align: center;
    } 

    .text{
    text-align: center;
    }

    .buttons{
    justify-content: center;
    }

     }
    }

    .footer{
    margin: 1rem 0 0 0;
        .flex{
            flex-direction: column-reverse;
        }
     .gym-info{
        flex-direction: column;
        width: 100%;
        background-color: transparent;

     article{
        margin: 2rem 0;

    &:first-child{margin-top: 0;}
     }

     [data-aos="new-animation"]{
        opacity: 0;
        transition-property:opacity;

        &.aos-animate{
        opacity: 1;
        }
     }

     }

     .extra-info{
     text-align: center;
     margin:1rem 0;

     p{
        margin: 1rem 0;
     }
     }
    }
}


@media screen and (max-width:500px) {
    .footer{
        .extra-info{
            margin: 0;
            h4{
               font-size: $fs-20px;
               line-height: 1.4;
            }

            p{
            font-size: $fs-14px;
            }
            } 
    }

    .hero-section{
        .buttons{
            justify-content: center;
            flex-wrap: wrap;
            
            div{
            font-size: $fs-12px;
            padding:.75rem 1.5rem;
            margin: .75rem 1rem;
            }
            }

            .left-section{
                .heading{
                text-align: center;
                font-size: $fs-20px;
                } 
            
                .text{
                text-align: center;
                font-size: $fs-14px;
                }
    }
}
}