@media screen and (max-width:768px) {
    .navbar{
        .center-listItems,
        .right-listItems{
        display: none;
        }

        .hamburger{
        display:block;
        }
    }

    .hero-section{
     .flex{
     flex-direction: column-reverse;
     }

     .left-section{
    .heading{
    text-align: center;
    } 

    .text{
    text-align: center;
    }

    .buttons{
    justify-content: center;
    }
     }
    }

    .footer{
    margin: 5rem 0 0 0;
        .flex{
            flex-direction: column-reverse;
        }
     .gym-info{
        flex-direction: column;
        background-color: transparent;

     article{
        margin: 1.5rem 0;
     }

     article:last-child{
        margin: 0;
     }
     }

     .extra-info{
     text-align: center;
     margin: 0;
     }
    }
}