@media screen and (max-width:768px) {
    .navbar{
        .center-listItems,
        .right-listItems{
        display: none;
        }

        .hamburger{
        display:block;
        }
    }

    .hero-section{
     .flex{
     flex-direction: column-reverse;
     }

     .left-section{
    .heading{
    text-align: center;
    } 

    .text{
    text-align: center;
    }

    .buttons{
    justify-content: center;
    }
     }
    }
}